# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/
.venv/

# PyCharm project files
.idea/

# Driver
driver/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Cache
*.cache/
.cache/
pytest_cache/

# Local config
*.env
